body{
    margin:0;
    font-family:'Inter', sans-serif;
    height:100vh;
    color:#fff;
    overflow:hidden;
}

/* BACKGROUND */
.bg{
    position:fixed;
    inset:0;
    background:
    linear-gradient(rgba(3,15,18,0.75), rgba(3,15,18,0.95)),
    url('https://png.pngtree.com/background/20250104/original/pngtree-ramadan-kareem-background-with-night-landscape-and-mosque-silhouette-picture-image_15326163.jpg');
    background-size:cover;
    background-position:center;
    z-index:-1;
}

/* WRAPPER */
.wrapper{
    position:relative;
    text-align:center;
    top:50%;
    transform:translateY(-50%);
}

/* LOGO */
.logo{
    width:75px;
    margin-bottom:8px;
    border-radius:50%;
    box-shadow:0 6px 20px rgba(0,0,0,0.6);
}

/* TITLE */
.title-small{
    font-size:14px;
    color:#ffffffcc;
}

.title-big{
    font-size:30px;
    font-weight:700;
    margin-bottom:12px;
}

/* BANNER */
.banner{
    position:relative;
    display:inline-block;
    padding:8px 35px;
    border-radius:50px;
    background:linear-gradient(135deg, rgba(15,40,35,0.9), rgba(10,25,22,0.9));
    border:1px solid rgba(212,175,55,0.5);
    box-shadow:0 10px 30px rgba(0,0,0,0.6);
    overflow:hidden;
    margin-bottom:25px;
}

/* TEXT GLOW */
.banner .text{
    position:relative;
    z-index:2;
    text-shadow:
        0 0 8px rgba(255,215,0,0.7),
        0 0 20px rgba(255,215,0,0.4);
}

/* SHIMMER */
.shine{
    position:absolute;
    top:0;
    left:-100%;
    width:60%;
    height:100%;
    background:linear-gradient(120deg, transparent, rgba(255,215,0,0.3), transparent);
    transform:skewX(-25deg);
}

/* CARD */
.card{
    width:340px;
    margin:auto;
    padding:28px;
    border-radius:25px;
    background:rgba(255,255,255,0.07);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 20px 60px rgba(0,0,0,0.7);
}

/* TEXT */
.desc{
    margin-bottom:18px;
    font-size:14px;
}

/* INPUT */
input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:50px;
    background:rgba(255,255,255,0.95);
}

/* BUTTON */
button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:50px;
    color:#fff;
    font-weight:600;
    background:linear-gradient(90deg,#2b6cff,#7b4dff);
    cursor:pointer;
    transition:0.15s;
}

/* FOOTER */
.footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    padding:14px;
    font-size:13px;
    color:#ffffffcc;
    background:linear-gradient(180deg,#0f2027,#0a1922);
}
